src/test/resources/fields/xsd/base_element_rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- READONLY BASE XML SCHEMA from Chameleon library (c) aplana.com -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Pages" type="PagesType"/>
    <xs:complexType name="PagesType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="PageType" name="Page" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ElementType" mixed="true">
        <xs:attribute type="NameType" name="name" use="required"/>
        <xs:attribute type="xs:string" name="locator" use="optional"/>
        <xs:attribute type="xs:string" name="template" use="optional"/>
        <xs:attribute type="xs:integer" name="waitTimeOut" use="optional"/>
    </xs:complexType>
    <xs:complexType name="PageType" mixed="true">
        <xs:complexContent>
            <xs:extension base="ElementType">
                <xs:choice maxOccurs="unbounded">
                    <xs:element type="PageType" name="Page" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="CollectionType" name="Collection" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="BlockType" name="Block" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:group ref="FieldsType"/>
                </xs:choice>
                <xs:attribute type="xs:string" name="includePages" use="optional"/>
                <xs:attribute type="xs:string" name="driver"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CollectionType" mixed="true">
        <xs:complexContent>
            <xs:extension base="ElementType">
                <xs:choice maxOccurs="unbounded">
                    <xs:group ref="FieldsType"/>
                </xs:choice>
                <xs:attribute type="xs:boolean" name="isLoaded" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FieldType" mixed="true">
        <xs:complexContent>
            <xs:extension base="ElementType">
                <xs:attribute type="xs:string" name="customType"/>
                <xs:attribute type="xs:boolean" name="isLoaded"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BlockType" mixed="true">
        <xs:attribute type="NameType" name="name" use="required"/>
    </xs:complexType>
    <xs:group name="FieldsType">
        <xs:choice>
        </xs:choice>
    </xs:group>
    <xs:simpleType name="NameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>